<div class="hero-section" style="background-image: url('<%= asset_path('hero.jpg') %>');">
  <div class="hero-content">
    <h2>Send Beautiful Postcards via Email</h2>
  </div>
</div>

<div class="content-section">
  <div class="container">
    <div class="content-wrapper">
      <h2 class="text-center">About</h2>
      <p>
        This began as a Mother's Day gift. My mother loves my photos, but hates using computers, smartphones, etc.
        I created this service to quickly send physical copies of my photos, and then built out the service a little
        more to also send to nieces and nephews. Today, I regularly send postcards to my family and close friends.
      </p>

      <h4 class="text-center">Why not Instagram?</h4>
      <p>
        As mentioned, my original audience (my mother) avoids technology. I have nieces, nephews and young cousins who
        are also too young to use online photo sharing services. But they <i>love</i> getting mail! Since launching the service, 
        I've realized that basically everyone loves getting something in the mail that's not a bill or junk mail—even more 
        so when it's a pretty picture!
      </p>

      <h4 class="text-center">Getting Started</h4>
      <p>
        To create your account:
      </p>
      <ol>
        <li>Send an email to <strong>signup@postcardmailer.us</strong></li>
        <li>You'll receive a verification email to confirm your account</li>
      </ol>

      <h4 class="text-center">Adding Recipients</h4>
      <p>
        To add someone to your address book:
      </p>
      <ol>
        <li>Send an email to <strong><nickname>@postcardmailer.us</strong></li>
        <li>Use <strong>"adduser"</strong> as the subject line</li>
        <li>Include their <strong>full name and address</strong> in the email body</li>
      </ol>
      <p>
        Example:<br>
        To: mom@postcardmailer.us<br>
        Subject: adduser<br>
        Body: Jane Smith<br>
        123 Main Street<br>
        San Francisco, CA 94105
      </p>

      <h4 class="text-center">Sending Postcards</h4>
      <p>
        To send a postcard to someone in your address book:
      </p>
      <ol>
        <li>Send an email to <strong>mom@postcardmailer.us</strong> (or their nickname@postcardmailer.us)</li>
        <li>Use the subject line for the <strong>message</strong> to the recipient</li>
        <li>Attach the <strong>image</strong> you want to use for the postcard</li>
      </ol>
      <p>
        Example:<br>
        To: mom@postcardmailer.us<br>
        Subject: Greetings from San Francisco!<br>
        Attachment: vacation-photo.jpg
      </p>

      <h4 class="text-center">Need Help?</h4>
      <p>
        To receive these instructions again, simply send an email to <strong>help@postcardmailer.us</strong>
      </p>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="content-wrapper">
      <p class="text-center">© <%= Date.today.year %> PostcardMailer.us</p>
      <p class="text-center">1198 S Van Ness Ave #40817, San Francisco, CA 94110</p>
    </div>
  </div>
</div> 