<div class="info-box">
  <h3 class="heading">Add an Address</h3>
  <p class="section">To add a new address to your account:</p>
  <ol class="list">
    <li class="list-item">Send an email to <span class="strong">$nickname@postcardmailer.us</span></li>
    <li class="list-item">Use <span class="strong">adduser</span> as the subject line</li>
    <li class="list-item">In the email body, include the recipient's name and address</li>
  </ol>
  <p class="section">Example:<br>
    To: mom@postcardmailer.us<br>
    Subject: adduser<br>
    Body: Jane Smith<br>
    456 Oak Avenue<br>
    Chicago, IL 60601
  </p>
  <p class="section"><em style="color: #666;">Note: Our AI-powered address parser will automatically standardize and validate the address format to ensure accurate delivery through the US Postal Service.</em></p>
</div> 