<div class="info-box">
  <h3 class="heading">Get Help</h3>
  <p class="section">To receive these instructions again:</p>
  <ol class="list">
    <li class="list-item">Send an email to <span class="strong">help@postcardmailer.us</span></li>
  </ol>
</div> 