<div class="info-box">
  <h3 class="heading">Send a Postcard</h3>
  <p class="section">To send a postcard to someone in your address book:</p>
  <ol class="list">
    <li class="list-item">Send an email to <span class="strong"><%= defined?(address) ? "#{address.nickname}@postcardmailer.us" : "$nickname@postcardmailer.us" %></span></li>
    <li class="list-item">Use the subject line for the <span class="strong">message</span> to the recipient</li>
    <li class="list-item">Attach the <span class="strong">image</span> you want to use for the postcard</li>
  </ol>
  <p class="section">Example:<br>
    To: <%= defined?(address) ? "#{address.nickname}@postcardmailer.us" : "mom@postcardmailer.us" %><br>
    Subject: Greetings from San Francisco!<br>
    Attachment: vacation-photo.jpg<br>
  </p>
</div> 