<div class="info-box">
  <h3 class="heading">Sign Up</h3>
  <p class="section">To create a new account:</p>
  <ol class="list">
    <li class="list-item">Send an email to <span class="strong">signup@postcardmailer.us</span></li>
    <li class="list-item">Use <span class="strong">signup</span> as the subject line</li>
    <li class="list-item">In the email body, include your name and address</li>
  </ol>
  <p class="section">Example:<br>
    To: signup@postcardmailer.us<br>
    Subject: signup<br>
    Body: John Doe<br>
    123 Main Street<br>
    San Francisco, CA 94110
  </p>
  <p class="section"><em style="color: #666;">Note: Your account will need to be verified before you can send postcards. We'll notify you once your account has been verified.</em></p>
</div> 