<% content_for :title do %>Error<% end %>

<p>Hello <%= @email %>,</p>

<div class="error">
  <p><strong>Error:</strong> <%= @message %></p>
</div>

<p>If you need assistance, please contact support.</p> 