<% content_for :title do %>Welcome to PostcardMailer.us!<% end %>

<p style="margin: 0 0 1em 0;">Hello <%= @user.email %>,</p>

<p style="margin: 0 0 1em 0;">Thank you for signing up with PostcardMailer.us! We're excited to have you on board.</p>

<div style="background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0;">
  <p style="margin: 0 0 1em 0;"><strong style="color: #000;">Note:</strong> Your account is pending verification. We'll notify you once your account has been verified and you can start sending postcards.</p>
</div>

<h2 style="color: #0066cc; margin-top: 1.5em;">Getting Started</h2>

<p style="margin: 0 0 1em 0;">Here's how to use our service:</p>

<%= render 'command_mailer/adduser_instructions' %>
<%= render 'command_mailer/postcard_instructions' %>
<%= render 'command_mailer/help_instructions' %>