<% content_for :title do %>Welcome to PostcardMailer.us!<% end %>

<p>Hello <%= @user.email %>,</p>

<p>Thank you for signing up with PostcardMailer.us! We're excited to have you on board.</p>

<div class="alert">
  <p><strong>Note:</strong> Your account is pending verification. We'll notify you once your account has been verified and you can start sending postcards.</p>
</div>

<p>In the meantime, you can add more addresses to your address book by sending an email to adduser@postcardmailer.us.</p> 