<% content_for :title do %>Your PostcardMailer.us Account is Verified!<% end %>

<p style="margin: 0 0 1em 0;">Hello <%= @user.email %>,</p>

<p style="margin: 0 0 1em 0;">Great news! Your PostcardMailer.us account has been verified. You can now start sending postcards to your friends and family.</p>

<h2 style="color: #0066cc; margin-top: 1.5em;">Next Steps</h2>

<%= render 'command_mailer/adduser_instructions' %>
<%= render 'command_mailer/postcard_instructions' %>

<p style="margin: 0 0 1em 0;">If you have any questions or need assistance, please reply to this email.</p> 