<% content_for :title do %>Account Verified<% end %>

<p>Hello <%= @user.email %>,</p>

<div class="success">
  <p><strong>Great news!</strong> Your account has been verified. You can now start sending postcards!</p>
</div>

<p>You can send postcards by emailing <strong>send@postcardmailer.us</strong> with the following information:</p>

<div class="example">
  <p><strong>Subject:</strong> [Your postcard message]</p>
  <p><strong>Body:</strong></p>
  <p class="code">to: [recipient nickname or full address]</p>
  <p class="code">image: [attach an image or include a URL to an image]</p>
</div>

<p>For example, you could send:</p>

<div class="example">
  <p><strong>Subject:</strong> Greetings from San Francisco!</p>
  <p><strong>Body:</strong></p>
  <p class="code">to: mom</p>
  <p>Having a great time in California. The weather is beautiful and the food is amazing!</p>
  <p><em>[Attached image of the Golden Gate Bridge]</em></p>
</div>

<p>If you have any questions, please contact support.</p> 